

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* General Styling */

html body{
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    text-align: center;
}

/* Primary Button */

.primary-button {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    background: linear-gradient(90deg, rgb(254, 18, 144), rgb(225, 85, 64));
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
}

.primary-button:hover {
    background: linear-gradient(260deg, ), rgb(225, 85, 64);
}


/* NAV BAR */


nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav .nav-button {
    color: rgb(254, 18, 144);
    background-color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}

nav .logo-container {
    width: 170px;
    margin: 15px;
}

.logo {
    width: 100px;
    height: 100px;
   
}

/* HOME PAGE */
.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(to bottom, rgba(0,0,0,0.30) 0%, rgba(0,0,0,0) 100%);
}


